# Oracle connection (APP_COUCH schema)
ORACLE_USER=app_couch
ORACLE_PASSWORD=Leder2003...
# EZConnect example: localhost/XEPDB1
ORACLE_CONNECT_STRING=localhost/XEPDB1

# Server
PORT=4010

# Auth
# Generate one: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=replace_me_with_random_hex

